{% extends "template.twig" %}
{% block content %}
    <div class="row ml-0 mr-0 mt-3 mb-3 p-0">
        {% for data in get_cat %}
            <div class="col-md-3 casecat">
                <div class="card border-secondary mb-3">
                    <div class="card-header">
                        <input type="text" data-catid="{{ data.id }}" class="form-control input_title" value="{{ data.title }}" />
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <textarea style="height: 200px;" data-catid="{{ data.id }}" class="form-control textarea_content">{{ data.description }}</textarea>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            Article : {{ general('CountArticle', data.id) }}
                        </small>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="col-md-3 ac">
            <div class="card border-secondary mb-3">
                <div class="card-header" style="height: 55.5px;">
                    Ajouter une catégorie
                </div>
                <div class="card-body">
                    <p class="card-text add_cat" style="cursor:pointer;height: 295.8px; text-align: center;font-size: 200px;margin-top: -50px;">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}