<!doctype html>
<html lang="fr">
    <head>
        {{ meta }}
        {% for data in css %}
            <link rel="stylesheet" type="text/css" href="{{ data.file }}" />
        {% endfor %}
    </head>
    <body>
        <div class="container-fluid p-0 h-100">
            <div class="row no-gutters h-100">
                <div class="col-md-2 h-100">
                    <div class="left col-md-2 h-100">
						<div class="users">
							<img class="avatar" src="{{ general('getavatar')|asset_path }}" />
							<div class="infos">
								<ul class="list-unstyled">
									<li>Bonjour {{ general('getusername') }}</li>
									<li><a href="{{ 'admin/auth/logout'|base_url }}">Déconnexion</a></li>
								</ul>
							</div>
						</div>
						<div id="menu">
							<div class="home_dash">
								<a href="{{ 'admin'|base_url }}">Dashboard</a> - <a href="{{ ''|base_url }}">Blog</a>
							</div>
                            <ul>
                                <li class="has-sub {% if '2'|uri_segment == "article" %}active{% endif %}">
                                    <a>
                                        Articles
                                    </a>
                                    <ul class="list-unstyled">
                                        <li><a href="{{ 'admin/article'|base_url }}">Liste des articles</a></li>
                                        <li><a href="{{ 'admin/article/list/2'|base_url }}">Articles en attente de correction</a></li>
                                        <li><a href="{{ 'admin/article/list/3'|base_url }}">Articles en attente de publication</a></li>
                                        <li><a href="{{ 'admin/article/add'|base_url }}">Ajouter un article</a></li>
                                    </ul>
                                </li>
                                <li class="{% if '2'|uri_segment == "cat" %}active{% endif %}">
                                    <a href="{{ 'admin/cat'|base_url }}">
                                        Catégories
                                    </a>
                                </li>
                                <li class="has-sub {% if '2'|uri_segment == "page" %}active{% endif %}">
                                    <a>
                                        Pages
                                    </a>
                                    <ul class="list-unstyled">
                                        <li><a href="{{ 'admin/page'|base_url }}">Liste des pages</a></li>
                                        <li><a href="{{ 'admin/page/add'|base_url }}">Ajouter une page</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub {% if '2'|uri_segment == "comments" %}active{% endif %}">
                                    <a>
                                        Commentaires
                                    </a>
                                    <ul class="list-unstyled">
                                        <li><a href="{{ 'admin/comments'|base_url }}">Liste de toute les commentaires</a></li>
                                        <li><a href="{{ 'admin/comments/wait'|base_url }}">Commentaires en attentes de validation</a></li>
                                        <li><a href="{{ 'admin/comments/ok'|base_url }}">Commentaires validés</a></li>
                                        <li><a href="{{ 'admin/comments/no'|base_url }}">Commentaires non validés</a></li>
                                    </ul>
                                </li>
                                <li class="{% if '2'|uri_segment == "media" %}active{% endif %}">
                                    <a href="{{ 'admin/media'|base_url }}">
                                        Médias
                                    </a>
                                </li>
                                <li class="has-sub {% if '2'|uri_segment == "users" %}active{% endif %}">
                                    <a>
                                        Utilisateurs
                                    </a>
                                    <ul class="list-unstyled">
                                        <li><a href="{{ 'admin/users/liste'|base_url }}">Liste</a></li>
                                        <li><a href="{{ 'admin/users/add'|base_url }}">Créer un utilisateur</a></li>
                                        <li><a href="{{ 'admin/users/log'|base_url }}">Logs</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub {% if '2'|uri_segment == "contact" %}active{% endif %}">
                                    <a>
                                        Contact
                                    </a>
                                    <ul class="list-unstyled">
                                        <li><a href="{{ 'admin/contact/new'|base_url }}">Nouveaux</a></li>
                                        <li><a href="{{ 'admin/contact/finish'|base_url }}">Fini</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub {% if '2'|uri_segment == "config" %}active{% endif %}">
                                    <a>
                                        Configuration
                                    </a>
                                    <ul class="list-unstyled">
                                        <li><a href="{{ 'admin/config/params'|base_url }}">Paramêtres</a></li>
                                        <li><a href="{{ 'admin/config/task'|base_url }}">Tâche</a></li>
                                        <li><a href="{{ 'admin/config/db'|base_url }}">DB</a></li>
                                        <li><a href="{{ 'admin/config/cache'|base_url }}">Caches</a></li>
                                        <li><a href="{{ 'admin/config/log'|base_url }}">Logs</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="footer">
                                <a href="https://github.com/deathart/BlogCI4" target="_blank">BlogCI4</a> <a href="#" target="_blank">v1.0.0</a><br /><a href="#">Vérifier les mise à jours</a>
                            </div>
						</div>
                    </div>
                </div>
                <div class="col-md-10 h-100 ">
                    <div class="right">
                        <div class="content">
                            <div class="title_page">
                                {{ breadcrumb }}
                            </div>
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for data in js %}
            <script type="text/javascript" src="{{ data.file }}"></script>
        {% endfor %}
    </body>
</html>
