<!doctype html>
<html>
    <head>
        {% autoescape false %}
        {{  meta }}
        {% endautoescape %}
        {% for data in css %}
                <link rel="stylesheet" type="text/css" href="{{ data.file }}" />
        {% endfor %}
        {% if 'analytics_active'|config == 1 %}
            {{ 'analytics_code'|config }}
        {% endif %}
    </head>
    <body>
        <div id="voile" class="recherche_modal">
            <div class="modal">
                <h2 class="titre">{{ trans('layout.search') }}</h2>
                <div class="content">
                    <form  method="post" action="{{ 'search'|base_url }}">
                    <div class="group-inline">
                        <label for="rech_val">{{ trans('layout.search_label') }} : </label>
                        <input type="text" class="rech_val" name="mc_key" />
                    </div>
                    <div class="group-inline btn_act">
                        <button type="submit" class="btn">{{ trans('layout.search_btn') }}</button>
                        <span class="del_modal"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="wrapper">
            <header>
                <div id="prem">
                    <div class="titre">
                        <a href="{{ '/'|base_url }}">{{ 'site_title'|config }}</a>
                    </div>
                    <div class="button">
                        {% if 'btn_facebook_link'|config != null %}
                            <a href="https://facebook.com/{{ 'btn_facebook_link'|config }}" target="_blank" class="facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        {% endif %}
                        {% if 'btn_twitter_link'|config != null %}
                            <a href="https://twitter.com/{{ 'btn_twitter_link'|config }}" target="_blank" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        {% endif %}
                        {% if 'btn_googleplus_link'|config != null %}
                            <a href="https://plus.google.com/{{ 'btn_googleplus_link'|config }}" target="_blank" class="googleplus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        {% endif %}
                    </div>
                </div>
                <div id="menu">
                    <div class="mobile_menu">
                        Menu mobile
                    </div>
                    <ul>
                        <li>
                            <a href="{{ '/'|base_url }}" {% if '1'|uri_segment == "" %}class="active"{% endif %}>{{ trans('layout.menu_home') }}</a>
                        </li>
                        <li class="cat">
                            <a href="{{ 'cat'|base_url }}" {% if '1'|uri_segment == "cat" %}class="active"{% endif %}>{{ trans('layout.menu_cat') }}</a>
                            <div class="dropdown-content">
                                <ul>
                                    {% for data in general('GetCat') %}
                                        <li><a href="{{ ('cat/' ~ data.slug)|base_url }}">{{ data.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        {% if 'contact_active'|config == 1 %}
                        <li>
                            <a href="{{ 'contact'|base_url }}" {% if '1'|uri_segment == "contact" %}class="active"{% endif %}>{{ trans('layout.menu_contact') }}</a>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="search">
                        <span class="click_search"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                </div>
            </header>
            <div id="content">
                <div class="annonce">
                    {{ 'annonce_general'|config }}
                </div>
                {% block content %}{% endblock %}
            </div>
            <footer>
                {{ trans('layout.footer_copy', {'name': 'site_title'|config}) }}
            </footer>
            <div class="scroll-top-wrapper ">
				<span class="scroll-top-inner">
					<i class="fa fa-2x fa-arrow-circle-up"></i>
				</span>
            </div>
        </div>
        <div class="eupopup-container eupopup-container-bottom eupopup-color-default" style="display: none;">
            <div class="eupopup-head">
                {{ trans('layout.eupopup_title') }}
            </div>
            <div class="eupopup-body">
                {{ trans('layout.eupopup_body') }}
            </div>
            <div class="eupopup-buttons">
                <span class="eupopup-button eupopup-button_1">
                    {{ trans('layout.eupopup_close') }}
                </span>
                <a href="{{ 'cookies'|base_url }}" class="eupopup-button eupopup-button_2">
                    {{ trans('layout.eupopup_more') }}
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
        {% for data in js %}
            <script type="text/javascript" src="{{ data.file }}"></script>
        {% endfor %}
    </body>
</html>