<!doctype html>
<html>
    <head>
        {% autoescape false %}
        {{  meta }}
        {% endautoescape %}
        {% for data in css %}
                <link rel="stylesheet" type="text/css" href="{{ data.file }}" />
        {% endfor %}
        {% if 'analytics_active'|config == 1 %}
            {{ 'analytics_code'|config }}
        {% endif %}
    </head>
    <body>
        <header>
            <div class="menu">
                <nav class="main-nav">
                    <ul id="menu-main-menu">
                        <li class="menu-item ">
                            <a href="{{ '/'|base_url }}" {% if '1'|uri_segment == "" %}class="active"{% endif %}>{{ trans('layout.menu_home') }}</a>
                        </li>
                        {% if (general('GetCat')) %}
                            <li class="menu-item menu-item-has-children">
                                <a href="{{ 'categories'|base_url }}" {% if '1'|uri_segment == "categories" %}class="active"{% endif %}>{{ trans('layout.menu_cat') }}</a>
                                <ul class="sub-menu">
                                    {% for data in general('GetCat') %}
                                        <li id="menu-item-131" class="menu-item">
                                            <a href="{{ ('categories/' ~ data.slug)|base_url }}">{{ data.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if 'contact_active'|config == 1 %}
                            <li class="menu-item">
                                <a href="{{ 'contact'|base_url }}" {% if '1'|uri_segment == "contact" %}class="active"{% endif %}>{{ trans('layout.menu_contact') }}</a>
                            </li>
                        {% endif %}
                        {% if (general('GetPages')) %}
                            {% for data in general('GetPages') %}
                                <li class="menu-item">
                                    <a href="{{ ('page/' ~ data.slug)|base_url }}" {% if '1'|uri_segment == "page" %}class="active"{% endif %}>{{ data.title }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                        <li class="menu-item">
                            <span class="click_search"><i class="fas fa-search" aria-hidden="true"></i></span>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header-area">
                <ul class="clean-list social-platforms">
                    {% if 'btn_facebook_link'|config is not empty %}
                        <li class="platform">
                            <a href="https://facebook.com/{{ 'btn_facebook_link'|config }}" target="_blank" class="facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                        </li>
                    {% endif %}
                    {% if 'btn_twitter_link'|config is not empty %}
                        <li class="platform">
                            <a href="https://twitter.com/{{ 'btn_twitter_link'|config }}" target="_blank" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                        </li>
                    {% endif %}
                    {% if 'btn_googleplus_link'|config is not empty %}
                        <li class="platform">
                            <a href="https://plus.google.com/{{ 'btn_googleplus_link'|config }}" target="_blank" class="googleplus"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                    {% endif %}
                </ul>
                <a href="{{ '/'|base_url }}" rel="home">{{ 'site_title'|config }}</a>
            </div>
        </header>
        <div class="container-fluid">
            <div id="content">
                {% if 'annonce_general'|config is not empty %}
                    <div class="annonce">
                        {{ 'annonce_general'|config }}
                    </div>
                {% endif %}
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer class="footer text-white">
            <div class="foot">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-9 mt-3">
                            <div class="footer-about">
                                <h4>{{ trans('layout.footer_about') }}</h4>
                                {{ 'presentation'|config }}
                                <div class="social">
                                    <ul>
                                        {% if 'btn_facebook_link'|config is not empty %}
                                            <li>
                                                <a href="https://facebook.com/{{ 'btn_facebook_link'|config }}" target="_blank" class="facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                                            </li>
                                        {% endif %}
                                        {% if 'btn_twitter_link'|config is not empty %}
                                            <li>
                                                <a href="https://twitter.com/{{ 'btn_twitter_link'|config }}" target="_blank" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                            </li>
                                        {% endif %}
                                        {% if 'btn_googleplus_link'|config is not empty %}
                                            <li>
                                                <a href="https://plus.google.com/{{ 'btn_googleplus_link'|config }}" target="_blank" class="googleplus"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-none d-lg-block mt-3">
                            <div class="footer-useful-links">
                                <h4>{{ trans('layout.footer_link') }}</h4>
                                <ul>
                                    {% if 'contact_active'|config == 1 %}
                                        <li>
                                            <a href="{{ 'contact'|base_url }}">{{ trans('layout.menu_contact') }}</a>
                                        </li>
                                    {% endif %}
                                    <li><span class="delallcookies">{{ trans('layout.footer_link_delete_cookies') }}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            {{ trans('layout.footer_copy', ['site_title'|config]) }}
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="scroll-top-wrapper ">
				<span class="scroll-top-inner">
					<i class="fas fa-lg fa-arrow-circle-up"></i>
				</span>
        </div>
        <div class="eupopup-container eupopup-container-bottom eupopup-color-default" style="display: none;">
            <div class="eupopup-head">
                {{ trans('layout.eupopup_title') }}
            </div>
            <div class="eupopup-body">
                {{ trans('layout.eupopup_body') }}
            </div>
            <div class="eupopup-buttons">
                <span class="eupopup-button eupopup-button_1">
                    {{ trans('layout.eupopup_close') }}
                </span>
                <a href="{{ 'cookies'|base_url }}" class="eupopup-button eupopup-button_2">
                    {{ trans('layout.eupopup_more') }}
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="modal fade" id="SearchModal" tabindex="-1" role="dialog" aria-labelledby="SearchModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="SearchModalTitle">{{ trans('layout.search') }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form  method="post" action="{{ 'search'|base_url }}">
                            <div class="form-group row">
                                <label for="rech_val" class="col-sm-4 col-form-label">{{ trans('layout.search_label') }}</label>
                                <div class="col-sm-8">
                                    <input type="text" class="rech_val form-control" name="mc_key" placeholder="{{ trans('layout.search_label') }}" />
                                </div>
                            </div>
                            <div class="group-inline btn_act">
                                <button type="submit" class="btn btn-theme">{{ trans('layout.search_btn') }}</button>
                                <button type="button" class="btn btn-theme" data-dismiss="modal" aria-label="Close">{{ trans('layout.search_btn_cancel') }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% for data in js %}
            <script type="text/javascript" src="{{ data.file }}"></script>
        {% endfor %}
    </body>
</html>