{% extends "template.twig" %}
{% block content %}
    <div class="page_content">
        <h2>{{ trans('search.title') }}</h2>
        <hr />
        <form  method="post" action="{{ 'search'|base_url }}">
            <label for="mc">{{ trans('search.form_label') }}</label>
            <input type="text" id="mc" name="mc_key" value="{{ val_mc }}" />
            <button type="submit" class="btn">{{ trans('search.form_btn') }}</button>
        </form>
        {% if val_mc %}
            <hr />
            <div class="tabsnavtitle">
                <button class="tablinks active" data-tabsnav="art">{{ trans('search.tabs_title_art') }}</button>
                <button class="tablinks" data-tabsnav="com">{{ trans('search.tabs_title_com') }}</button>
            </div>
            <div class="tabsnavcontent">
                <div id="art" class="tabsc show">
                    {% if search_article %}
                        {% for data in search_article %}
                            {{ data.title }}
                        {% endfor %}
                    {% else %}
                        {{ trans('search.tabs_content_art') }}
                    {% endif %}
                </div>
                <div id="com" class="tabsc">
                    {% if search_com %}
                        {% for data in search_com %}
                            {{ data.content }}
                        {% endfor %}
                    {% else %}
                        {{ trans('search.tabs_content_com') }}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}