{% extends "layout.twig" %}
{% block content %}
    <div class="row mt-2">
        <div class="col-md-12 col-lg-9">
            <div class="article_list">
                <div class="row">
                    {% for data in get_all %}
                        <div class="col-sm-6 col-lg-3">
                            <div class="article_bloc">
                                <div class="images">
                                    <a href="{{ ('article/' ~ data.link)|base_url }}"><img style="height: 250px;" src="{{ data.picture_one|base_url }}" /></a>
                                    <div class="tags_art_bloc">
                                        {{ general('TradCat', data.categories) }}
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="publish_date">
                                        <i class="far fa-clock" aria-hidden="true"></i> <span>{{ data.date_created }}</span>
                                    </div>
                                    <div class="coms">
                                        <span>{{ general('CountCom', data.id) }}</span> <i class="far fa-comments" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <a href="{{ ('article/' ~ data.link)|base_url }}"><h1>{{ data.title }}</h1></a>
                                <div class="content">
                                    {{ parse(data.content|slice(0, 600), true) ~ '...' }}
                                </div>
                                <div class="read_more">
                                    <a href="{{ ('article/' ~ data.link)|base_url }}">{{ trans('categories.view_more') }}</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-12">
                            <div class="nopost">
                                {{ trans('categories.no_article') }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-3 d-none d-sm-none d-md-block">
            <div class="menu_right home">
                <div class="bloc">
                    <div class="title">
                        <h1>{{ info_categories.title }}</h1>
                    </div>
                    <div class="content">
                        {{ info_categories.description }}
                    </div>
                </div>
                {% if 'pub_active'|config == 1 %}
                    <div class="bloc" id="pub">
                        <div class="title">
                            <h1>{{ trans('categories.menu_right_pub') }}</h1>
                        </div>
                        <div class="content">
                        </div>
                    </div>
                {% endif %}
                {{ pager }}
            </div>
        </div>
    </div>
{% endblock %}