{% extends "layout.twig" %}
{% block content %}
    <div class="row ml-0 mr-0 mt-3 mb-3 p-0">
        <div class="col-md-12">
            <div id="pan_cont">
                <div class="title">
                    <h2>Contact</h2>
                </div>
                <div class="fin">
                    Contact de <strong>{{ getContact.name }}</strong> (Email : <strong>{{ getContact.email }}</strong>) (IP : <strong>{{ getContact.ip }}</strong>)
                    <hr />
                    Sujet : <strong>{{ getContact.sujet }}</strong>
                    <hr />
                    {{ getContact.message }}
                    <hr />
                    Envoyé le {{ getContact.date_created }}
                </div>
            </div>
        </div>
    </div>
    <div class="row ml-0 mr-0 mt-3 mb-3 p-0">
        <div class="col-md-12">
            <div id="pan_cont">
                <div class="title">
                    <h2>Répondre</h2>
                </div>
                <div class="fin">
                    <form class="repcontact" data-contact="{{ getContact.id }}">
                        <div class="form-group row">
                            <label for="inputsujet" class="col-sm-2 col-form-label">Sujet</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputsujet" placeholder="RE : {{ getContact.sujet }}" value="RE : {{ getContact.sujet }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputmessage" class="col-sm-2 col-form-label">Message</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="inputmessage" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2 col-form-label"></div>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-success">Envoyé</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}