{% extends "template.twig" %}
{% block content %}
    <div class="menu_right home">
        <div class="bloc">
            <div class="title">
                <h1>{{ trans('tags.menu_right_title') }}</h1>
            </div>
            <div class="content">
                {{ tags_name }}
            </div>
        </div>
        {% if 'pub_active'|config == 1 %}
            <div class="bloc" id="pub">
                <div class="title">
                    <h1>{{ trans('cat.menu_right_pub') }}</h1>
                </div>
                <div class="content">
                </div>
            </div>
        {% endif %}
        {{ pager }}
    </div>
    <div class="article_list">
        {% for data in get_all %}
            <div class="article_bloc">
                <div class="images">
                    <a href="{{ ('article/' ~ data.link)|base_url }}"><img style="height: 250px;" src="{{ data.picture_one|base_url }}" /></a>
                    <div class="tags">
                        {{ general('TradCat', data.cat) }}
                    </div>
                </div>
                <div class="info">
                    <div class="publish_date">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> <span>{{ data.date_created }}</span>
                    </div>
                    <div class="coms">
                        <span>{{ general('CountCom', data.id) }}</span> <i class="fa fa-comments-o" aria-hidden="true"></i>
                    </div>
                </div>
                <a href="{{ ('article/' ~ data.link)|base_url }}"><h1>{{ data.title }}</h1></a>
                <div class="content">
                    {{ data.content|slice(0, 500) ~ '...' }}
                </div>
                <div class="read_more">
                    <a href="{{ ('article/' ~ data.link)|base_url }}">{{ trans('tags.view_more') }}</a>
                </div>
            </div>
        {% else %}
            <div class="nopost">
                {{ trans('tags.no_article') }} {{ tags_name }}
            </div>
        {% endfor %}
    </div>
{% endblock %}