{% extends "layout.twig" %}
{% block content %}
    <div class="page_content">
        <div class="title">
            <h2>{{ trans('search.title') }}</h2>
        </div>
        <div class="content">
            <form  method="post" action="{{ 'search'|base_url }}">
                <div class="form-group row">
                    <label for="mc" class="col-sm-2 col-form-label">{{ trans('search.form_label') }}</label>
                    <div class="col-sm-8">
                        <input type="text" id="mc" class="form-control" name="mc_key" value="{{ val_mc }}" />
                    </div>
                </div>
                <button type="submit" class="btn btn-theme">{{ trans('search.form_btn') }}</button>
            </form>
            {% if val_mc %}
                <hr />
                <div class="tabsnavtitle">
                    <button class="tablinks active" data-tabsnav="art">{{ trans('search.tabs_title_art') }}</button>
                    <button class="tablinks" data-tabsnav="com">{{ trans('search.tabs_title_com') }}</button>
                </div>
                <div class="tabsnavcontent">
                    <div id="art" class="tabsc show">
                        {% if search_article %}
                            <ul>
                            {% for data in search_article %}
                                <li><a href="{{ ('article/' ~ data.link)|base_url }}">{{ data.title }}</a></li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            {{ trans('search.tabs_content_art') }}
                        {% endif %}
                    </div>
                    <div id="com" class="tabsc">
                        {% if search_com %}
                            <ul>
                            {% for data in search_com %}
                                <li><a href="{{ ('article/' ~ data.post_id)|base_url }}">{{ data.content }}</a></li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            {{ trans('search.tabs_content_com') }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}