{% extends "template.twig" %}
{% block content %}
    <div class="row ml-0 mr-0 mt-3 mb-3 p-0">
        <div class="col-md-12">
            <div id="pan_cont">
                <div class="title">
                    <h2>Liste des paramêtres</h2>
                </div>
                <div class="fin">
                    {% for data in getall %}
                        <div class="form-row justify-content-sm-center" data-configid="{{ data.id }}">
                            <div class="col-sm-4 ">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Clef</div>
                                    </div>
                                    <input type="text" class="form-control" id="params_key" placeholder="{{ data.key }}" value="{{ data.key }}" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Data</div>
                                    </div>
                                    {% if data.type == 'simple' %}
                                        <input type="text" class="form-control" id="params_data" placeholder="{{ data.data }}" value="{{ data.data }}" />
                                    {% else %}
                                        <textarea class="form-control" id="params_data">{{ data.data }}</textarea>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-success save-config">Sauvegarder</a>
                                <a class="btn btn-danger del-config">Supprimer</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}